_homefiatope.scss
/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


 .jumbo {
 	background-image: image-url('pano.jpg');
 	width:100%;
 	height: calc(100vh - 70px);
 	background-size: cover;
 	background-position: center;
 	h1 {
 		color:white;
 		font-size: 65px;
 		font-weight: 500;
 		text-shadow: 0px 1px 3px black;
 		margin-bottom:50px;
 	}
 }

 .discover {
 	background-color:#F5F9F9;
 	&-title {
 		color:#3D321C;
 		text-transform:uppercase;
 		padding-top:60px;
 		font-size:40px;
 		width:900px;
 		margin:0 auto;
 	}
 	&-title-project {
 		color:#DB9500;
 		padding:60px 15px;
 		font-size:30px;
 		font-weight:bold;
 	}
 }

 .project-card {
 	background-color:white;
 	margin-bottom:30px;
 	border: 0.5px solid grey;
 	border-radius:3px;
 	.img-1 {
 		background-image: image-url('pano.jpg');
 		background-size: cover;
 		background-position: center;
 		width:100%;
 		height:250px;
 	}
 	.description {
 		text-transform:uppercase;
 		padding: 30px 10px;
 		font-size: 25px;
 	}
 	.location {
 		text-align:left;
 		padding:10px;
 		.icon {
 			display:inline-block;
 			img {
 				height:33px;
 			}
 		}
 		&-text {
 			display:inline-block;
 		}
 	}
 }
 .price-day {
 	clear: both;
 	.price {
 		display:inline-block;
 		float:left;
 		padding:10px;
 	}
 	.day {
 		display:inline-block;
 		float:right;
 		padding:10px;
 	}
 }


 .statement {
 	padding:10px;
 	progress[value] {
 		-webkit-appearance: none;
 		appearance: none;
 		width: 100%;
 		height: 20px;
 	}
 	progress[value]::-webkit-progress-bar {
 		background-color: white;
 		border-radius: 3px;
 		border: 0.5px solid grey;
 	}
 	progress[value]::-webkit-progress-value {
 		background-color:#DB9500; 
 	}
 }

 .see-more {
 	padding:60px;
 }

 .cta-project {
 	background-color:#A3320C;
 	height:300px;
 	width:100%;
 	background-image: image-url('profile.svg');
 	background-repeat: repeat;
 	background-size:60px;
 	background-repeat: space;
 	.cta-text {
 		color:white;
 		font-size:30px;
 		margin-bottom:30px;
 	}
 }

 .why {
 	&-text {
 		padding:60px;
 		font-size:40px;
 		color: #3D321C;
 	}
 }

 .why-icon img {
 	height:50px;
 }

 .why-title-item {
 	padding: 30px 0px;
 	font-size: 30px;
 	color: #DB9500;
 }

 .why-description {
		margin-bottom:30px;
		color:#3D321C;
 }

.partner-icon {
	height:100px;
}
