.btn-medium-red {
  color: white;
  border: 1px solid #A3320C;
  padding:12px 20px;
  border-radius: 3px;
  background-color:#A3320C;
  margin:10px;
}
.btn-medium-red:hover {
  text-decoration: none;
  opacity:0.8;
  color:white;
}

.btn-medium-yellow {
  color: white;
  border: 1px solid #DB9500;
  padding: 12px 20px;
  border-radius: 3px;
  background-color:#DB9500;
  margin:10px;
}
.btn-medium-yellow:hover {
  text-decoration: none;
  opacity:0.8;
  color:white;
}

.btn-medium-yellow-w-m {
  color: white;
  border: 1px solid #DB9500;
  padding: 12px 20px;
  border-radius: 3px;
  background-color:#DB9500;
}
.btn-medium-yellow-w-m:hover {
  text-decoration: none;
  opacity:0.8;
  color:white;
}

.btn-medium-yellow-border {
  color: #DB9500;
  border: 1px solid #DB9500;
  padding: 12px 20px;
  border-radius: 3px;
}
.btn-medium-yellow-border:hover {
  text-decoration: none;
  color:white;
  background-color:#DB9500;
  border: 1px solid #DB9500;
}

.btn-medium-white-border {
  color: white;
  border: 1px solid white;
  padding: 12px 20px;
  border-radius: 3px;
}
.btn-medium-white-border:hover {
  text-decoration: none;
  color:#A3320C;
  background-color:white;
  border: 1px solid #A3320C;
}
